# Ignore environment variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Streamlit cache
.streamlit/

# Logs
logs/
*.log

# VS Code settings
.vscode/

# macOS files
.DS_Store
